[submodule "dircolors-solarized"]
	path = dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "auto-fu.zsh"]
	path = auto-fu.zsh
	url = git://github.com/hchbaw/auto-fu.zsh.git
[submodule "zaw"]
	path = zaw
	url = https://github.com/zsh-users/zaw.git
[submodule "gnome-terminal-colors-solarized"]
	path = gnome-terminal-colors-solarized
	url = https://github.com/sigurdga/gnome-terminal-colors-solarized.git
[submodule "guake-colors-solarized"]
	path = guake-colors-solarized
	url = https://github.com/coolwanglu/guake-colors-solarized.git
[submodule "zsh-notify"]
	path = zsh-notify
	url = https://github.com/marzocchi/zsh-notify.git
[submodule "zsh-autosuggestions"]
	path = zsh-autosuggestions
	url = git://github.com/zsh-users/zsh-autosuggestions.git
