[user]
	name = Yuya Tanaka
	email = yuya.presto@gmail.com
[core]
	excludesfile = ~/.gitignore_global
	editor = /usr/bin/env vim
[merge]
	tool = vimdiff
[color]
	ui = auto
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	g = log --graph --decorate --stat
	go = log --graph --decorate --stat --format=oneline
	gog = log --graph --decorate --format=oneline
	rs = reset
	rsh = reset --hard
	dw = diff --color-words
	ds = diff --stat
	cw = diff --color-words
	cs = diff --stat --cached
	lo = log --stat
	dt = difftool
	pr = pull --rebase
	ms = merge --squash
	re = rebase
[diff]
	tool = vimdiff
[difftool]
	prompt = true
[github]
	user = ypresto
[push]
	default = tracking
[tig "bind"]
  generic = g move-first-line
  generic = G move-last-line
