[user]
	name = Yuya Tanaka
	email = yuya.presto@gmail.com
[core]
	excludesfile = ~/.gitignore_global
	attributesfile = ~/.gitattributes_global
	editor = vim
[merge]
	tool = vimdiff
	renamelimit = 3000
	ff = true
[color]
	ui = auto
[alias]
	co = checkout
	cm = commit
	cma = commit --amend
	st = status
	br = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	g = log --graph --decorate --stat
	go = log --graph --decorate --stat --oneline
	gog = log --graph --decorate --oneline
	rs = reset
	rsh = reset --hard
	dw = diff --color-words
	dwd = diff --word-diff
	ds = diff --stat
	cw = diff --color-words --cached
	cwd = diff --word-diff --cached
	cs = diff --stat --cached
	l = log --stat --decorate
	lo = log --stat --decorate
	pr = pull --rebase
	re = rebase
	ru = remote update
	mt = mergetool
[diff]
	tool = vimdiff
[difftool]
	prompt = true
[github]
	user = ypresto
[push]
	default = upstream
[rerere]
	enabled = true
