[include]
	path = ~/.gitconfig_local
[user]
	name = Yuya Tanaka
	email = yuya.presto@gmail.com
[core]
	excludesfile = ~/.gitignore_global
	attributesfile = ~/.gitattributes_global
	editor = vim
[merge]
	tool = vimdiff
	renamelimit = 3000
	ff = true
	conflictstyle = diff3
[color]
	ui = auto
[alias]
	co = checkout
	cm = commit
	cma = commit --amend
	st = status
	br = branch
	hist = log --pretty=format:\"%C(auto)%h %ad | %s%d [%an]\" --graph --date=short
	g = log --graph --decorate --stat
	go = log --graph --decorate --stat --oneline
	gog = log --graph --decorate --oneline
	gg = log --graph --decorate --pretty=format:\"%h %ad | %s%d [%an]\" --date=short
	rs = reset
	rsh = reset --hard
	d = diff
	dw = diff --color-words
	dwd = diff --word-diff
	c = diff --cached
	cw = diff --color-words --cached
	cwd = diff --word-diff --cached
	dn = diff --name-only
	cn = diff --cached --name-only
	l = log --stat --decorate
	lp = log --stat --decorate -p
	lw = log --stat --decorate -p --color-words
	lo = log --stat --decorate --oneline
	pl = pull
	pr = pull --rebase
	rb = rebase
	ru = remote update
	mt = mergetool
	cp = cherry-pick
	mb = merge-base
[diff]
	tool = vimdiff
	renames = true
[difftool]
	prompt = true
[github]
	user = ypresto
[push]
	default = simple
[rerere]
	enabled = true

# vim: noet:nosta:ts=8:sts=0:sw=8
