# vim: noet nosta ts=8 sts=0 sw=8

[user]
	name = Yuya Tanaka
	email = yuya.presto@gmail.com
[core]
	excludesfile = ~/.gitignore_global
	attributesfile = ~/.gitattributes_global
	editor = vim
	pager = LESS=RSim less
[log]
	follow = true
[merge]
	tool = vimdiff
	renamelimit = 3000
	ff = true
	conflictstyle = diff3
[merge "mergepbx"]
	name = Xcode project files merger
	driver = mergepbx %O %A %B
[color]
	ui = auto
[alias]
	co = checkout
	cm = commit
	cma = commit --amend
	cman = commit --amend --no-edit
	st = status
	br = branch
	g = log --graph --decorate --stat
	go = log --pretty=format:\"%C(auto)%h %ad | %s%d [%an]\" --graph --date=short
	gog = log --pretty=format:\"%C(auto)%h %ad | %s%d [%an]\" --graph --date=short --stat
	rs = reset
	rsh = reset --hard
	rsm = reset --merge
	rss = reset --soft
	d = diff
	dw = diff --color-words
	dwd = diff --word-diff
	dd = diff  --color-words --ignore-space-change -M40
	c = diff --cached
	cw = diff --color-words --cached
	cwd = diff --word-diff --cached
	cc = diff  --color-words --ignore-space-change -M40 --cached
	dn = diff --name-only
	cn = diff --cached --name-only
	l = log --stat --decorate
	lp = log --stat --decorate -p
	lw = log --stat --decorate -p --color-words
	lo = log --stat --decorate --oneline
	pl = pull
	pr = pull --rebase
	rb = rebase
	ru = remote update
	mt = mergetool
	cp = cherry-pick
	mb = merge-base
[diff]
	tool = vimdiff
	renames = true
	renamelimit = 3000
	algorithm = minimal
[difftool]
	prompt = true
[github]
	user = ypresto
[push]
	default = simple
[pull]
	ff = only
[rerere]
	enabled = true

[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f

[include]
	path = ~/.gitconfig_local
