<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>HTTP_Header_Fields</key>
			<dict>
				<key>date</key>
				<date>2024-02-09T10:10:48Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>HTTP Header Fields</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>HTTP_Header_Fields</string>
				</dict>
			</dict>
			<key>HTTP_Status_Codes</key>
			<dict>
				<key>date</key>
				<date>2024-02-09T10:10:48Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>HTTP Status Codes</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>HTTP_Status_Codes</string>
				</dict>
			</dict>
			<key>OCMock</key>
			<dict>
				<key>date</key>
				<date>2024-02-09T10:10:48Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>xcode</string>
						<string>apple</string>
						<string>cocoa touch</string>
						<string>iphone</string>
						<string>ipad</string>
						<string>ios</string>
						<string>mac os x</string>
						<string>macosx</string>
						<string>objc</string>
						<string>objectivec</string>
						<string>objective c</string>
						<string>objective-c</string>
					</array>
					<key>name</key>
					<string>OCMock</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>OCMock</string>
				</dict>
			</dict>
			<key>iOS_Design</key>
			<dict>
				<key>date</key>
				<date>2024-02-09T10:10:48Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>xcode</string>
						<string>apple</string>
						<string>cocoa touch</string>
						<string>iphone</string>
						<string>ipad</string>
						<string>ios</string>
						<string>objc</string>
						<string>objectivec</string>
						<string>objective c</string>
						<string>objective-c</string>
					</array>
					<key>name</key>
					<string>iOS Design</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>iOS_Design</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHClojureRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHDartRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHDocsetGeneratorRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHGitHubRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict>
			<key>microsoft/playwright</key>
			<dict>
				<key>date</key>
				<date>2024-08-19T02:13:56Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>microsoft/playwright</string>
					<key>platform</key>
					<string>github</string>
					<key>uniqueIdentifier</key>
					<string>microsoft/playwright</string>
				</dict>
			</dict>
			<key>mui-org/material-ui</key>
			<dict>
				<key>date</key>
				<date>2019-10-07T07:28:57Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>mui-org/material-ui</string>
					<key>platform</key>
					<string>github</string>
					<key>uniqueIdentifier</key>
					<string>mui-org/material-ui</string>
				</dict>
			</dict>
			<key>mui/material-ui</key>
			<dict>
				<key>date</key>
				<date>2024-08-19T02:13:58Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>mui/material-ui</string>
					<key>platform</key>
					<string>github</string>
					<key>uniqueIdentifier</key>
					<string>mui/material-ui</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>DHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>database/sql</key>
			<dict>
				<key>date</key>
				<date>2026-02-06T02:12:05Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>database/sql</string>
					<key>platform</key>
					<string>godoc</string>
					<key>uniqueIdentifier</key>
					<string>database/sql</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHaskellRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHexRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict>
			<key>com.android.tools.build:gradle</key>
			<dict>
				<key>date</key>
				<date>2020-02-15T23:33:37Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>com.android.tools.build:gradle</string>
					<key>platform</key>
					<string>javadoc</string>
					<key>uniqueIdentifier</key>
					<string>com.android.tools.build:gradle</string>
				</dict>
			</dict>
			<key>com.annimon:stream</key>
			<dict>
				<key>date</key>
				<date>2020-02-15T23:33:39Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>com.annimon:stream</string>
					<key>platform</key>
					<string>javadoc</string>
					<key>uniqueIdentifier</key>
					<string>com.annimon:stream</string>
				</dict>
			</dict>
			<key>com.google.code.gson:gson</key>
			<dict>
				<key>date</key>
				<date>2020-02-15T23:33:39Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>com.google.code.gson:gson</string>
					<key>platform</key>
					<string>javadoc</string>
					<key>uniqueIdentifier</key>
					<string>com.google.code.gson:gson</string>
				</dict>
			</dict>
			<key>com.google.dagger:dagger</key>
			<dict>
				<key>date</key>
				<date>2020-02-15T23:33:39Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>com.google.dagger:dagger</string>
					<key>platform</key>
					<string>javadoc</string>
					<key>uniqueIdentifier</key>
					<string>com.google.dagger:dagger</string>
				</dict>
			</dict>
			<key>com.google.guava:guava</key>
			<dict>
				<key>date</key>
				<date>2017-07-10T15:14:49Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>com.google.guava:guava</string>
					<key>platform</key>
					<string>javadoc</string>
					<key>uniqueIdentifier</key>
					<string>com.google.guava:guava</string>
				</dict>
			</dict>
			<key>com.jakewharton:butterknife</key>
			<dict>
				<key>date</key>
				<date>2020-02-15T23:33:38Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>com.jakewharton:butterknife</string>
					<key>platform</key>
					<string>javadoc</string>
					<key>uniqueIdentifier</key>
					<string>com.jakewharton:butterknife</string>
				</dict>
			</dict>
			<key>com.squareup.dagger:dagger</key>
			<dict>
				<key>date</key>
				<date>2015-09-17T13:40:25Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>com.squareup.dagger:dagger</string>
					<key>platform</key>
					<string>javadoc</string>
					<key>uniqueIdentifier</key>
					<string>com.squareup.dagger:dagger</string>
				</dict>
			</dict>
			<key>com.squareup.okhttp:okhttp</key>
			<dict>
				<key>date</key>
				<date>2020-02-15T23:33:38Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>com.squareup.okhttp:okhttp</string>
					<key>platform</key>
					<string>javadoc</string>
					<key>uniqueIdentifier</key>
					<string>com.squareup.okhttp:okhttp</string>
				</dict>
			</dict>
			<key>com.squareup.retrofit:retrofit</key>
			<dict>
				<key>date</key>
				<date>2020-02-15T23:33:37Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>com.squareup.retrofit:retrofit</string>
					<key>platform</key>
					<string>javadoc</string>
					<key>uniqueIdentifier</key>
					<string>com.squareup.retrofit:retrofit</string>
				</dict>
			</dict>
			<key>commons-codec:commons-codec</key>
			<dict>
				<key>date</key>
				<date>2020-02-15T23:33:39Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>commons-codec:commons-codec</string>
					<key>platform</key>
					<string>javadoc</string>
					<key>uniqueIdentifier</key>
					<string>commons-codec:commons-codec</string>
				</dict>
			</dict>
			<key>io.reactivex:rxjava</key>
			<dict>
				<key>date</key>
				<date>2020-02-15T23:33:39Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>io.reactivex:rxjava</string>
					<key>platform</key>
					<string>javadoc</string>
					<key>uniqueIdentifier</key>
					<string>io.reactivex:rxjava</string>
				</dict>
			</dict>
			<key>javax.inject:javax.inject</key>
			<dict>
				<key>date</key>
				<date>2020-02-15T23:33:39Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>javax.inject:javax.inject</string>
					<key>platform</key>
					<string>javadoc</string>
					<key>uniqueIdentifier</key>
					<string>javax.inject:javax.inject</string>
				</dict>
			</dict>
			<key>joda-time:joda-time</key>
			<dict>
				<key>date</key>
				<date>2020-02-15T23:33:39Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>joda-time:joda-time</string>
					<key>platform</key>
					<string>javadoc</string>
					<key>uniqueIdentifier</key>
					<string>joda-time:joda-time</string>
				</dict>
			</dict>
			<key>org.mockito:mockito-all</key>
			<dict>
				<key>date</key>
				<date>2020-02-15T23:33:38Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>org.mockito:mockito-all</string>
					<key>platform</key>
					<string>javadoc</string>
					<key>uniqueIdentifier</key>
					<string>org.mockito:mockito-all</string>
				</dict>
			</dict>
			<key>org.robolectric:robolectric</key>
			<dict>
				<key>date</key>
				<date>2020-02-15T23:33:37Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>org.robolectric:robolectric</string>
					<key>platform</key>
					<string>javadoc</string>
					<key>uniqueIdentifier</key>
					<string>org.robolectric:robolectric</string>
				</dict>
			</dict>
			<key>org.threeten:threetenbp</key>
			<dict>
				<key>date</key>
				<date>2020-02-15T23:33:39Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>org.threeten:threetenbp</string>
					<key>platform</key>
					<string>javadoc</string>
					<key>uniqueIdentifier</key>
					<string>org.threeten:threetenbp</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>DHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHPythonRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>slim</key>
			<dict>
				<key>date</key>
				<date>2024-02-09T10:19:22Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>slim</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>slim</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict>
			<key>activeadmin</key>
			<dict>
				<key>date</key>
				<date>2020-05-04T08:06:51Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>activeadmin</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>activeadmin</string>
				</dict>
			</dict>
			<key>arel</key>
			<dict>
				<key>date</key>
				<date>2020-05-04T08:06:50Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>arel</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>arel</string>
				</dict>
			</dict>
			<key>ast</key>
			<dict>
				<key>date</key>
				<date>2020-05-04T08:06:51Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>ast</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>ast</string>
				</dict>
			</dict>
			<key>astrolabe</key>
			<dict>
				<key>date</key>
				<date>2020-05-04T08:06:49Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>astrolabe</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>astrolabe</string>
				</dict>
			</dict>
			<key>aws-sdk-core</key>
			<dict>
				<key>date</key>
				<date>2017-07-10T15:14:15Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>aws-sdk-core</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>aws-sdk-core</string>
				</dict>
			</dict>
			<key>aws-sdk-resources</key>
			<dict>
				<key>date</key>
				<date>2017-07-10T15:14:14Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>aws-sdk-resources</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>aws-sdk-resources</string>
				</dict>
			</dict>
			<key>aws-sdk-v1</key>
			<dict>
				<key>date</key>
				<date>2017-07-10T15:14:13Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>aws-sdk-v1</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>aws-sdk-v1</string>
				</dict>
			</dict>
			<key>capybara</key>
			<dict>
				<key>date</key>
				<date>2020-05-04T08:06:49Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>capybara</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>capybara</string>
				</dict>
			</dict>
			<key>capybara-rails</key>
			<dict>
				<key>date</key>
				<date>2020-05-04T08:06:48Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>capybara-rails</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>capybara-rails</string>
				</dict>
			</dict>
			<key>factory_girl</key>
			<dict>
				<key>date</key>
				<date>2020-05-04T08:06:48Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>factory_girl</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>factory_girl</string>
				</dict>
			</dict>
			<key>formtastic</key>
			<dict>
				<key>date</key>
				<date>2020-05-04T08:06:46Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>formtastic</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>formtastic</string>
				</dict>
			</dict>
			<key>grape</key>
			<dict>
				<key>date</key>
				<date>2017-07-10T15:14:36Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>grape</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>grape</string>
				</dict>
			</dict>
			<key>httparty</key>
			<dict>
				<key>date</key>
				<date>2023-11-22T13:57:42Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>httparty</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>httparty</string>
				</dict>
			</dict>
			<key>i18n</key>
			<dict>
				<key>date</key>
				<date>2020-05-04T08:06:46Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>i18n</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>i18n</string>
				</dict>
			</dict>
			<key>jbuilder</key>
			<dict>
				<key>date</key>
				<date>2020-05-04T08:06:46Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>jbuilder</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>jbuilder</string>
				</dict>
			</dict>
			<key>nokogiri</key>
			<dict>
				<key>date</key>
				<date>2023-11-22T13:57:44Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>nokogiri</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>nokogiri</string>
				</dict>
			</dict>
			<key>puma</key>
			<dict>
				<key>date</key>
				<date>2020-05-04T08:06:45Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>puma</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>puma</string>
				</dict>
			</dict>
			<key>pundit</key>
			<dict>
				<key>date</key>
				<date>2020-05-04T08:06:39Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>pundit</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>pundit</string>
				</dict>
			</dict>
			<key>rack</key>
			<dict>
				<key>date</key>
				<date>2020-05-04T08:06:40Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>rack</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>rack</string>
				</dict>
			</dict>
			<key>rack-test</key>
			<dict>
				<key>date</key>
				<date>2020-05-04T08:06:40Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>rack-test</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>rack-test</string>
				</dict>
			</dict>
			<key>rspec</key>
			<dict>
				<key>date</key>
				<date>2020-05-04T08:06:41Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>rspec</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>rspec</string>
				</dict>
			</dict>
			<key>rspec-core</key>
			<dict>
				<key>date</key>
				<date>2020-05-04T08:06:41Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>rspec-core</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>rspec-core</string>
				</dict>
			</dict>
			<key>rspec-expectations</key>
			<dict>
				<key>date</key>
				<date>2020-05-04T08:06:42Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>rspec-expectations</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>rspec-expectations</string>
				</dict>
			</dict>
			<key>rspec-mocks</key>
			<dict>
				<key>date</key>
				<date>2020-05-04T08:06:43Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>rspec-mocks</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>rspec-mocks</string>
				</dict>
			</dict>
			<key>rspec-rails</key>
			<dict>
				<key>date</key>
				<date>2020-05-04T08:06:43Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>rspec-rails</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>rspec-rails</string>
				</dict>
			</dict>
			<key>shrine</key>
			<dict>
				<key>date</key>
				<date>2020-05-04T08:06:44Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>shrine</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>shrine</string>
				</dict>
			</dict>
			<key>sidekiq</key>
			<dict>
				<key>date</key>
				<date>2017-07-10T15:14:31Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>sidekiq</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>sidekiq</string>
				</dict>
			</dict>
			<key>unicorn</key>
			<dict>
				<key>date</key>
				<date>2017-07-10T15:14:25Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>unicorn</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>unicorn</string>
				</dict>
			</dict>
			<key>unicorn-rails</key>
			<dict>
				<key>date</key>
				<date>2017-07-10T15:14:25Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>unicorn-rails</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>unicorn-rails</string>
				</dict>
			</dict>
			<key>uri</key>
			<dict>
				<key>date</key>
				<date>2023-11-22T13:57:40Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>uri</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>uri</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>DHRustRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHSwiftRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>Android_Gradle_Plugin</key>
			<dict>
				<key>date</key>
				<date>2024-02-09T10:10:54Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>android</string>
						<string>gradle</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Android_Gradle_Plugin#readme</string>
					<key>authorLinkText</key>
					<string>Tarek Belkahia</string>
					<key>name</key>
					<string>Android Gradle Plugin</string>
					<key>platform</key>
					<string>usercontribAndroid_Gradle_Plugin</string>
					<key>uniqueIdentifier</key>
					<string>Android_Gradle_Plugin</string>
				</dict>
			</dict>
			<key>Bokeh</key>
			<dict>
				<key>date</key>
				<date>2024-02-09T10:11:19Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>Python interactive visualization library</string>
						<string>Bokeh Scientific plots</string>
						<string>web browser visualization</string>
						<string>bokeh</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Bokeh#readme</string>
					<key>authorLinkText</key>
					<string>Angelo Varlotta</string>
					<key>name</key>
					<string>Bokeh</string>
					<key>platform</key>
					<string>usercontribBokeh</string>
					<key>uniqueIdentifier</key>
					<string>Bokeh</string>
				</dict>
			</dict>
			<key>Jest</key>
			<dict>
				<key>date</key>
				<date>2024-02-09T10:10:54Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>Jest</string>
						<string>React</string>
						<string>Webpack</string>
						<string>jQuery</string>
						<string>CoffeeScript</string>
						<string>Facebook</string>
						<string>JavaScript</string>
						<string>Reactjs</string>
						<string>UI</string>
						<string>Unit Test</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Jest#readme</string>
					<key>authorLinkText</key>
					<string>Michael Sharer</string>
					<key>name</key>
					<string>Jest</string>
					<key>platform</key>
					<string>usercontribJest</string>
					<key>uniqueIdentifier</key>
					<string>Jest</string>
				</dict>
			</dict>
			<key>React_Native</key>
			<dict>
				<key>date</key>
				<date>2024-02-09T10:11:19Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>React</string>
						<string>ReactNative</string>
						<string>Facebook</string>
						<string>JavaScript</string>
						<string>Reactjs</string>
						<string>UI</string>
						<string>iOS</string>
						<string>Android</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/React_Native#readme</string>
					<key>authorLinkText</key>
					<string>Vexus2</string>
					<key>name</key>
					<string>React Native</string>
					<key>platform</key>
					<string>usercontribReact_Native</string>
					<key>uniqueIdentifier</key>
					<string>React_Native</string>
				</dict>
			</dict>
			<key>Seaborn</key>
			<dict>
				<key>date</key>
				<date>2024-02-09T10:11:23Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>python</string>
						<string>graph</string>
						<string>matplotlib</string>
						<string>visualization</string>
						<string>data</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Seaborn#readme</string>
					<key>authorLinkText</key>
					<string>Paulo S. Costa</string>
					<key>name</key>
					<string>seaborn</string>
					<key>platform</key>
					<string>usercontribSeaborn</string>
					<key>uniqueIdentifier</key>
					<string>Seaborn</string>
				</dict>
			</dict>
			<key>Solidity</key>
			<dict>
				<key>date</key>
				<date>2024-02-09T10:10:54Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>solidity, sol, ethereum solidity, Solidity</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Solidity#readme</string>
					<key>authorLinkText</key>
					<string>Oscar Chavez</string>
					<key>name</key>
					<string>Solidity</string>
					<key>platform</key>
					<string>usercontribSolidity</string>
					<key>uniqueIdentifier</key>
					<string>Solidity</string>
				</dict>
			</dict>
			<key>Tailwind_CSS</key>
			<dict>
				<key>date</key>
				<date>2025-02-16T19:08:09Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>tailwind</string>
						<string>TailwindCSS</string>
						<string>tailwind CSS</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Tailwind_CSS#readme</string>
					<key>authorLinkText</key>
					<string>Ben Booth, Guill Lo, Akinori Musha</string>
					<key>name</key>
					<string>Tailwind CSS</string>
					<key>platform</key>
					<string>usercontribTailwind_CSS</string>
					<key>uniqueIdentifier</key>
					<string>Tailwind_CSS</string>
				</dict>
			</dict>
			<key>Terraform</key>
			<dict>
				<key>date</key>
				<date>2025-07-11T01:58:22Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>terraform</string>
						<string>tf</string>
						<string>terra</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Terraform#readme</string>
					<key>authorLinkText</key>
					<string>Roberth Kulbin</string>
					<key>name</key>
					<string>Terraform</string>
					<key>platform</key>
					<string>usercontribTerraform</string>
					<key>uniqueIdentifier</key>
					<string>Terraform</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict>
			<key>Atom</key>
			<dict>
				<key>date</key>
				<date>2017-11-23T19:46:08Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>atom</string>
						<string>Atom.io</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Atom#readme</string>
					<key>authorLinkText</key>
					<string>Ben Booth</string>
					<key>name</key>
					<string>Atom</string>
					<key>platform</key>
					<string>usercontribAtom</string>
					<key>uniqueIdentifier</key>
					<string>Atom</string>
				</dict>
			</dict>
			<key>Kotlin</key>
			<dict>
				<key>date</key>
				<date>2019-04-15T13:17:17Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Kotlin#readme</string>
					<key>authorLinkText</key>
					<string>Kevin Cianfarini</string>
					<key>name</key>
					<string>Kotlin</string>
					<key>platform</key>
					<string>usercontribKotlin</string>
					<key>uniqueIdentifier</key>
					<string>Kotlin</string>
				</dict>
			</dict>
			<key>XCTest</key>
			<dict>
				<key>date</key>
				<date>2017-11-23T19:46:32Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>UI Testing</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/XCTest#readme</string>
					<key>authorLinkText</key>
					<string>Joe Masilotti</string>
					<key>name</key>
					<string>XCTest</string>
					<key>platform</key>
					<string>usercontribXCTest</string>
					<key>uniqueIdentifier</key>
					<string>XCTest</string>
				</dict>
			</dict>
			<key>next.js</key>
			<dict>
				<key>date</key>
				<date>2023-06-03T16:48:37Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>React</string>
						<string>React Framework</string>
						<string>JavaScript</string>
						<string>TypeScript</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/next.js#readme</string>
					<key>authorLinkText</key>
					<string>純</string>
					<key>name</key>
					<string>Next.js</string>
					<key>platform</key>
					<string>usercontribnext.js</string>
					<key>uniqueIdentifier</key>
					<string>next.js</string>
				</dict>
			</dict>
			<key>webpack</key>
			<dict>
				<key>date</key>
				<date>2019-04-08T05:57:58Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/webpack#readme</string>
					<key>authorLinkText</key>
					<string>Matija Marohnić</string>
					<key>name</key>
					<string>webpack</string>
					<key>platform</key>
					<string>usercontribwebpack</string>
					<key>uniqueIdentifier</key>
					<string>webpack</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>DHWKWebViewTextSizeMultiplier</key>
	<real>1</real>
	<key>actuallyDarkWebView</key>
	<true/>
	<key>annotationsAreShown</key>
	<false/>
	<key>docsets</key>
	<dict>
		<key>keywords</key>
		<dict>
			<key>~/Library/Application Support/Dash/DocSets/JavaScript/JavaScript.docset</key>
			<string>js:</string>
			<key>~/Library/Application Support/Dash/DocSets/NodeJS/NodeJS.docset</key>
			<string>node:</string>
			<key>~/Library/Application Support/Dash/DocSets/Python_3/Python 3.docset</key>
			<string>python:</string>
			<key>~/Library/Application Support/Dash/DocSets/Ruby_on_Rails_5/Ruby on Rails.docset</key>
			<string>rails:</string>
			<key>~/Library/Application Support/Dash/GitHub/microsoftplaywright/microsoft-playwright.docset</key>
			<string>playwright:</string>
			<key>~/Library/Application Support/Dash/GitHub/muimaterialui/mui-material-ui.docset</key>
			<string>mui:</string>
			<key>~/Library/Application Support/Dash/User Contributed/Tailwind CSS/Tailwind_CSS.docset</key>
			<string>tw:</string>
		</dict>
	</dict>
	<key>feeds</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>http://kapeli.com/feeds/Bash.xml</key>
			<dict>
				<key>date</key>
				<date>2024-02-09T10:10:54Z</date>
			</dict>
			<key>http://kapeli.com/feeds/CSS.xml</key>
			<dict>
				<key>date</key>
				<date>2024-02-09T10:11:37Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Django.xml</key>
			<dict>
				<key>date</key>
				<date>2024-02-09T10:11:01Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Docker.xml</key>
			<dict>
				<key>date</key>
				<date>2026-01-28T07:17:28Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Go.xml</key>
			<dict>
				<key>date</key>
				<date>2024-02-09T10:11:47Z</date>
			</dict>
			<key>http://kapeli.com/feeds/HTML.xml</key>
			<dict>
				<key>date</key>
				<date>2024-02-09T10:11:35Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Jasmine.xml</key>
			<dict>
				<key>date</key>
				<date>2024-02-09T10:11:01Z</date>
			</dict>
			<key>http://kapeli.com/feeds/JavaScript.xml</key>
			<dict>
				<key>date</key>
				<date>2023-03-15T08:47:45Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Lo-Dash.xml</key>
			<dict>
				<key>date</key>
				<date>2024-02-09T10:12:11Z</date>
			</dict>
			<key>http://kapeli.com/feeds/MatPlotLib.xml</key>
			<dict>
				<key>date</key>
				<date>2024-02-09T10:13:37Z</date>
			</dict>
			<key>http://kapeli.com/feeds/MongoDB.xml</key>
			<dict>
				<key>date</key>
				<date>2024-02-09T10:12:11Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Nginx.xml</key>
			<dict>
				<key>date</key>
				<date>2024-02-09T10:11:38Z</date>
			</dict>
			<key>http://kapeli.com/feeds/NodeJS.xml</key>
			<dict>
				<key>date</key>
				<date>2023-03-15T08:36:52Z</date>
			</dict>
			<key>http://kapeli.com/feeds/NumPy.xml</key>
			<dict>
				<key>date</key>
				<date>2024-02-09T10:12:55Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Pandas.xml</key>
			<dict>
				<key>date</key>
				<date>2024-02-09T10:12:37Z</date>
			</dict>
			<key>http://kapeli.com/feeds/PostgreSQL.xml</key>
			<dict>
				<key>date</key>
				<date>2024-02-09T10:12:42Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Python.xml</key>
			<dict>
				<key>date</key>
				<date>2026-01-19T16:07:33Z</date>
			</dict>
			<key>http://kapeli.com/feeds/React.xml</key>
			<dict>
				<key>date</key>
				<date>2024-02-09T10:12:57Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Ruby.xml</key>
			<dict>
				<key>date</key>
				<date>2026-01-19T16:07:35Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Ruby_on_Rails.xml</key>
			<dict>
				<key>date</key>
				<date>2026-01-19T16:08:02Z</date>
			</dict>
			<key>http://kapeli.com/feeds/SVG.xml</key>
			<dict>
				<key>date</key>
				<date>2024-02-09T10:11:47Z</date>
			</dict>
			<key>http://kapeli.com/feeds/TypeScript.xml</key>
			<dict>
				<key>date</key>
				<date>2024-02-09T10:12:25Z</date>
			</dict>
			<key>http://kapeli.com/feeds/VueJS.xml</key>
			<dict>
				<key>date</key>
				<date>2024-02-09T10:13:03Z</date>
			</dict>
			<key>http://kapeli.com/feeds/jQuery.xml</key>
			<dict>
				<key>date</key>
				<date>2024-02-09T10:12:09Z</date>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict>
			<key>http://kapeli.com/feeds/Android.xml</key>
			<dict>
				<key>date</key>
				<date>2019-06-06T08:32:06Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Apple_API_Reference.xml</key>
			<dict>
				<key>date</key>
				<date>2024-03-04T01:48:43Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Arduino.xml</key>
			<dict>
				<key>date</key>
				<date>2017-07-10T15:15:49Z</date>
			</dict>
			<key>http://kapeli.com/feeds/BackboneJS.xml</key>
			<dict>
				<key>date</key>
				<date>2017-07-10T15:15:43Z</date>
			</dict>
			<key>http://kapeli.com/feeds/C.xml</key>
			<dict>
				<key>date</key>
				<date>2017-11-23T19:44:28Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Chef.xml</key>
			<dict>
				<key>date</key>
				<date>2017-11-23T19:44:47Z</date>
			</dict>
			<key>http://kapeli.com/feeds/CoffeeScript.xml</key>
			<dict>
				<key>date</key>
				<date>2017-07-10T15:15:53Z</date>
			</dict>
			<key>http://kapeli.com/feeds/ElasticSearch.xml</key>
			<dict>
				<key>date</key>
				<date>2017-07-10T15:15:56Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Haml.xml</key>
			<dict>
				<key>date</key>
				<date>2017-07-10T15:16:01Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Java_SE6.xml</key>
			<dict>
				<key>date</key>
				<date>2017-07-10T15:16:04Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Java_SE8.xml</key>
			<dict>
				<key>date</key>
				<date>2017-11-23T19:44:35Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Lua_5.3.xml</key>
			<dict>
				<key>date</key>
				<date>2017-11-23T19:45:09Z</date>
			</dict>
			<key>http://kapeli.com/feeds/MarionetteJS.xml</key>
			<dict>
				<key>date</key>
				<date>2017-07-10T15:16:16Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Meteor.xml</key>
			<dict>
				<key>date</key>
				<date>2017-11-23T19:45:00Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Ruby_on_Rails_4.xml</key>
			<dict>
				<key>date</key>
				<date>2017-08-03T01:40:57Z</date>
			</dict>
			<key>http://kapeli.com/feeds/SaltStack.xml</key>
			<dict>
				<key>date</key>
				<date>2020-05-04T08:06:18Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Spring_Framework.xml</key>
			<dict>
				<key>date</key>
				<date>2023-11-22T13:57:47Z</date>
			</dict>
			<key>http://kapeli.com/feeds/UnderscoreJS.xml</key>
			<dict>
				<key>date</key>
				<date>2017-07-10T15:17:27Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Unity_3D.xml</key>
			<dict>
				<key>date</key>
				<date>2017-07-10T15:17:29Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Vagrant.xml</key>
			<dict>
				<key>date</key>
				<date>2017-07-10T15:17:34Z</date>
			</dict>
			<key>http://kapeli.com/feeds/ZeptoJS.xml</key>
			<dict>
				<key>date</key>
				<date>2017-07-10T15:17:37Z</date>
			</dict>
		</dict>
	</dict>
	<key>isPinned</key>
	<true/>
	<key>placeholderDelimiter</key>
	<string>__</string>
	<key>profiles</key>
	<array>
		<dict>
			<key>isDefault</key>
			<true/>
			<key>name</key>
			<string>Default</string>
			<key>searchSnippets</key>
			<true/>
		</dict>
		<dict>
			<key>icon</key>
			<string>Snippet</string>
			<key>name</key>
			<string>Snippets Only</string>
			<key>placeholder</key>
			<string>Search Snippets</string>
			<key>searchSnippets</key>
			<true/>
		</dict>
	</array>
	<key>searchKey</key>
	<dict>
		<key>keyCode</key>
		<integer>36</integer>
		<key>modifiers</key>
		<integer>4352</integer>
	</dict>
	<key>searchUsingSelectedTextKey</key>
	<dict>
		<key>keyCode</key>
		<integer>36</integer>
		<key>modifiers</key>
		<integer>6400</integer>
	</dict>
	<key>shouldRestoreTabs</key>
	<true/>
	<key>shouldShowStatusIcon</key>
	<false/>
	<key>shouldStartAtLogin</key>
	<true/>
	<key>shouldSyncBookmarks</key>
	<true/>
	<key>shouldSyncDocsets</key>
	<true/>
	<key>shouldSyncGeneral</key>
	<true/>
	<key>shouldSyncView</key>
	<true/>
	<key>showInDock</key>
	<true/>
	<key>versionedDHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHClojureRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHDartRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHDocsetGeneratorRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHGitHubRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHHaskellRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHHexRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHPythonRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHRustRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHSwiftRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedFeeds</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>http://kapeli.com/feeds/MySQL.xml</key>
			<dict>
				<key>5.7</key>
				<dict>
					<key>date</key>
					<date>2024-02-09T10:10:54Z</date>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict>
			<key>http://kapeli.com/feeds/Swift.xml</key>
			<dict>
				<key>2.2</key>
				<dict>
					<key>date</key>
					<date>2017-07-10T15:17:18Z</date>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>webSearches</key>
	<array>
		<dict>
			<key>iconName</key>
			<string>Google</string>
			<key>isDefault</key>
			<true/>
			<key>isEnabled</key>
			<true/>
			<key>name</key>
			<string>Google</string>
			<key>url</key>
			<string>https://www.google.com/search?q={query}</string>
		</dict>
		<dict>
			<key>iconName</key>
			<string>DuckDuckGo</string>
			<key>isDefault</key>
			<true/>
			<key>isEnabled</key>
			<false/>
			<key>name</key>
			<string>DuckDuckGo</string>
			<key>url</key>
			<string>https://duckduckgo.com/?q={query}&amp;ia=web</string>
		</dict>
		<dict>
			<key>iconName</key>
			<string>Stack Overflow</string>
			<key>isDefault</key>
			<true/>
			<key>isEnabled</key>
			<true/>
			<key>name</key>
			<string>Stack Overflow</string>
			<key>url</key>
			<string>https://stackoverflow.com/search?q={query}</string>
		</dict>
	</array>
</dict>
</plist>
